/*EMPIEZA INDEX 375*/
@media (max-width: 375px){
    header{
        width: 100%;
    }
    .grid1{
        height: auto;
    }
.sec2{
    nav{
        height: 200px;
        ul{
            li{
                margin-left: 50px;
            }
        }
    }
}
.sec5{
    width: 350px;
}
.sec3{
    margin: -60px 0px 20px -210px;
}
.sec4{
    margin: 5px 10px 60px 50px;
}
.sec7{
    margin: 5px 10px 0px 50px;
}
}
/*TERMINA INDEX 375*/
/*EMPIEZA QUE ES LA MEDIACION 375*/
@media (max-width: 375px){
.grid3{
    width: 100%px;
}
.secM1{
    nav{
        ul{
            li{
                margin: -40px 20px 10px; 
            }
        }
    }
}
.secM2{
    nav{
        ul{
            li{
                margin-left: 110px;
            }
        }
    }
}
.secM5{
    ul{
        li{
            iframe{
                width: 370px;
                height: 402px;
                padding-left: 40px;
            }
        }
    }
}
}
/*TERMINA QUE ES LA MEDIACION 375*/
/*EMPIEZA ACTIVIDADES 375*/
@media (max-width: 375px){
    .grid4{
        width: 100%;
    }
.secA1{
    nav{
        ul{
            li{
                margin: 10px 20px 10px;
            }
        }
    }
}
.secA2{
    nav{
        ul{
            li{
                margin-left: 90px;
            }
        }
    }
}
}
/*TERMINA ACTIVIDADES 375*/
/*EMPIEZA CONTACTO 375*/
@media (max-width: 375px){
    .grid5{
        width: 100%;
    }
    .secC1{
        nav{
            ul{
                margin-top: 15px; 
                li{
                    margin: 1px 40px 10px;
                }
            }
        }
    }
    .secC2{
        nav{
            ul{
                li{
                    margin-left: 80px; 
                }
            }
        }
    }
    .secC6{
        iframe {
        width: 360px;
}
    }
}
/*TERMINA CONTACTO 375*/
/*EMPIEZA QUIENES SOMOS 375*/
@media (max-width: 375px){
.secQ2{
    nav{
        ul{
            li{
                margin: 5px 10px 10px;
            }
        }
    }
}
}
/*TERMINA QUIENES SOMOS 375*/
/*EMPIEZA EN CONSTRUCCION 375*/
@media (max-width: 375px){
    .grid6{
        width: 100%;
        height: auto;
    }
    .secE2{
        nav{
            ul{
                li{
                    margin-left: 108px;
                    margin-top: 5px;
                }
            }
        }
    }
    .secE3{
        h2{
            font-size: 50px;
        }
    }
}
/*TERMINA EN CONSTRUCCION 375*/

