@media (max-width: 720px){
    header{
        width: 100%;
    }
    .grid1{
        width: 720px;
        height: 100vh;
    }
    .sec3{
        height: 150px;
        margin-left: -150px;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .sec4{
    margin: 80px 0px 200px 110px;
    padding: 0px;
    }
    .sec7{
        margin: -50px 0px -0 110px;
    }
    .grid2{
        width: 720px;
    }
    .grid3{
        width: 720px;
    }
    .grid4{
        width: 720px;
    }
    .grid5{
        width: 720px;
    }
    .grid6{
        width: 720px;
        height: 100vh;
    }
    .secM5{
        ul{
            li{
                iframe{
                    width: 670px;
                }
            }
        }
    }
    .secC6{
        iframe{
            margin-left: 5px;
        }
    }
    .secE3{
        p{
            margin-left: 60px;
        }
    }
    .swing{
        img{
            margin-top: 200px;
        }
    }
}