/*EMPIEZA QUE-ES-LA-MEDIACION 1024*/
@media (max-width: 1024px){
    header{
        max-width: 100%;
    }
.secM5{
    padding-left: 0px;
}
.list{
    iframe {
        width: 600px;
    }
}
.secM3{
    h2{
        padding-left: 210px;
    }
}
}

/*EMPIEZA CONTACTO 1024*/
@media (max-width: 1024px) {
    header{
        max-width: 100%;
}
.secC6 {
    iframe{
        width: 700px;
    }
}
}
/*TERMINA CONTACTO 1024*/
/*TERMINA QUE-ES-LA-MEDIACION 1024*/