@media (max-width: 1440px){
    header{
        width: 100%;
    }
    .grid1{
        height: auto;
    }
    .secA1{
        nav{
            ul{
                li{
                    margin-top: 50px;
                }
                }
            }
        }
    .secA2{
        nav{
            ul{
                li{
                    margin-left: 0px;
                }
            }
        }
    }
    }
