@media (max-width: 1280px){
    header{
        width: 100%;
    }
    .grid1{
        width: 1280px;
        height: auto;
    }
    .sec5{
        width: 900px;
    }
    .sec3{
        margin-left: -100px;
    }
    .sec4{
        margin-left: -100px;
    }
    .sec7{
        margin-left: -100px;
    }
}