@media (max-width: 390px){
    header{
        width: 100%;
    }
    .grid6{
        width: 390px;
    }
    .secE2{
        nav{
            height: 200px;
            ul{
                li{
                    margin-left: 100px;
                    padding: 3px;
                }
            }
        }
    }
    .secE3{
        h2{
            font-size: 50px;
        }
    }
    .swing{
        img{
            margin-top: -10px;
        }
    }
    .grid1{
        height: auto;
    }
    .sec2{
        nav{
            height: 200px;
            ul{
                li{
                    margin: 5px 56px 10px;
                }
            }
        }
    }
}